.logo {
    width: 272px;
    height: 92px;
}

.left {
    text-align:left;
}

.right {
    text-align: right;
}

.search-form {
    text-align: center;
}

.search-engine {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    width: 638px;
    max-width: 584px;
    font-family: Roboto,arial,sans-serif;
    font-size: 16px;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}

.header-text {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    line-height: normal;
    padding-right: 15px;

}


