
.logo {
    width: 272px;
    height: 92px;
}
nav {
    display: flex;
    justify-content: space-between;
    padding: 10px;

}
.left, .right {
    display: flex;
}

.header-text {
    color: rgba(0,0,0,.87);
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 14px;
    padding-right: 15px;
}

.header-text:hover {
    text-decoration: underline;
}

.search-form {
    text-align: center;
    
}

.search-engine:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    border: 1px solid #dadce0;
    color: #202124;
}

.search-engine {
    display: flex;
    z-index: 3;
    position: relative;
    min-height: 44px;
    background: #fff;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 638px;
    max-width: 584px;
    font-family: Roboto,arial,sans-serif;
    font-size: 16px;
}

.search-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,.1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.search-button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: Roboto,arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none
}



