<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Advanced Search</title>
    <link rel="stylesheet" href="/Users/nick/Search/static/styles.css">
</head>
<body>
<div class="top-advance">
    <nav>
        <img class="small-google" src="/Users/nick/Search/images/google.png">
        <a  href="index.html" class="header-text">Google Search</a>
    </nav>
    <p class="advanced-header">Advanced Search</p>
</div>
    
</body>
</html>