<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Advanced Search</title>
    <link rel="stylesheet" href="/Users/nick/Search/static/styles.css">
</head>
<body>
<div class="top-advance">
    <nav class="advance-nav">
        <a  href="index.html"><img class="small-google" src="/Users/nick/Search/images/google.png"></a>
        <a  href="index.html" class="header-text">Google Search</a>
    </nav>
    <div id="advanced-header">
        <p class="advanced-header">Advanced Search</p>
    </div>
</div>
<form action="https://www.google.com/search">
    <!--last thing i worked on was formatting the advanced search inputs in the form-->
        <div class="left-header">
            <div id="left-text">
                <span class="left-text">Find pages with... </span>
            </div>
            <div id="right-text">
                <span class="right-text">To do this in the search box</span>
            </div>
        </div>
    <div class="form-section">
        <div class="advanced-form">
            <div class="left-div">
                <span class="left-text">all these words: </span>
            </div>
            <div class="inputs">
                <input class="advance-input" autofocus type="text" name="as_q">  
            </div>
            <div class="right-div">
                <span class="right-text">Type the important words: <span class="example">tricolor rat terrier</span></span>
            </div>      
        </div>
        <div class="advanced-form">
            <div class="left-div">
                <span class="left-text">this exact word or phrase: </span>
            </div>
            <div class="inputs">
                <input class="advance-input" type="text" name="as_epq">   
            </div> 
            <div class="right-div">
                <span class="right-text">Put exact words in quotes:  <span class="example">"rat terrier"</span></span>
            </div>   
        </div>
        <div class="advanced-form">
            <div class="left-div">
                <span class="left-text">any of these words: </span>
            </div>
            <div class="inputs">
                <input class="advance-input" type="text" name="as_oq"> 
            </div>
            <div class="right-div">
                <span class="right-text">Type OR between all the words you want:  <span class="example">miniature OR standard</span></span>
            </div>       
        </div>
        <div class="advanced-form">
            <div class="left-div">
                <span class="left-text">none of these words: </span>
            </div>
            <div class="inputs">
                <input class="advance-input" type="text" name="as_eq"> 
            </div>
            <div class="right-div">
                <span class="right-text">Put a minus sign just before words you don't want:  <div class="example">-rodent, -"Jack Russell"</div></span>
            </div>            
        </div>                  
    </div>
    <div class="advanced-button">
        <input type="submit" class="blue-button" value="Advanced Search">
    </div>
</form>
    
</body>
</html>