<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google Images</title>
    <link rel="stylesheet" href="/Users/nick/Search/static/styles.css">
</head>
<body>
    <nav id="right">
            <a href="/Users/nick/Search/templates/index.html" class="header-text">Google Search</a>
    </nav>
    <div class="search-form">
        <img class="logo" src="/Users/nick/Search/images/images.png" >
        <form action="https://www.google.com/images" class="search">
            <input type="text" name="q" class="search-engine" autofocus>
            <div class="search-buttons">
                <input type="submit" name="btnK" value="Image Search" class="search-button">
            </div>
        </form>
    </div>
</body>
</html>