<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="stylesheet" href="/Users/nick/Search/static/styles.css">
</head>
<body>
    <nav>
        <div class="left">
            <a href="#" id="left" class="header-text">About</a>
            <a href="#" id="left" class="header-text">Store</a>
        </div>
        <div class="right">
            <a href="#" id="right" class="header-text">Gmail</a>
            <a href="#" id="right" class="header-text">Images</a>
        </div>
    </nav>
    <div class="search-form">
        <img class="logo" src="/Users/nick/Search/images/google.png" >
        <form action="https://www.google.com/search" class="search">
            <input type="text" name="q" class="search-engine" autofocus>
            <div class="search-buttons">
                <input type="submit" name="btnK" value="Google Search" class="search-button">
                <input type="submit" name="btnI" value="I'm Feeling Lucky" class="search-button">
            </div>
        </form>
    </div>

</body>
</html>