<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Google</title>
    <link rel="stylesheet" href="/Users/nick/Search/static/styles.css"
</head>
<body>
<nav>
    <span class="left">About</span>
    <span class="left">Store</span>
    <span class="right">Gmail</span>
    <span class="right">Images</span>
</nav>
<img class="logo" src="/Users/nick/Search/images/google.png" >
<form class="search">
    <input type="text" name="search">
    <button class="search-button">Google Search</button>
    <button class="lucky-button">I'm Feeling Lucky</button>
</form>

    
</body>
</html>